export(
    baf.bayes,
    baf.model.fit,
    baf.model.points,
    baf.types.matrix,
    chromosome.view,
    cp.plot,
    cp.plot.contours,
    find.breaks,
    gc.sample.stats,
    gc.summary.plot,
    get.ci,
    mean_gc,
    median_gc,
    mufreq.bayes,
    mufreq.model.fit,
    mufreq.model.points,
    mufreq.types.matrix,
    plotWindows,
    read.seqz,
    segment.breaks,
    sequenza.extract,
    sequenza.fit,
    sequenza.results,
    theoretical.baf,
    theoretical.depth.ratio,
    theoretical.mufreq,
    windowBf,
    windowValues
)
importFrom("squash",
    "colorgram",
    "makecmap"
)

importFrom("pbapply",
    "pblapply"
)

importFrom("squash",
    "colorgram",
    "makecmap"
)
importFrom("iotools",
    "mstrsplit",
    "chunk.apply"
)

importFrom("readr",
    "read_tsv"
)

importFrom("seqminer",
    "tabix.read"
)

importFrom("copynumber",
    "winsorize",
    "pcf",
    "aspcf"
)

importFrom("grDevices",
    "colorRampPalette",
    "dev.off",
    "gray.colors",
    "heat.colors",
    "palette",
    "pdf",
    "rgb"
)
importFrom("graphics",
    "abline",
    "axis",
    "barplot",
    "contour",
    "legend",
    "lines",
    "mtext",
    "par",
    "plot",
    "points",
    "polygon",
    "rect",
    "segments",
    "strwidth",
    "text"
)
importFrom("stats",
    "dbinom",
    "density",
    "dpois",
    "dt",
    "median",
    "na.exclude",
    "quantile",
    "sd",
    "setNames",
    "weighted.mean"
)
importFrom("utils",
    "packageVersion",
    "read.delim",
    "read.table",
    "setTxtProgressBar",
    "tail",
    "txtProgressBar",
    "write.table"
)
