export(
	read.seqz,
	read.acgt,
	gc.norm,
	gc.sample.stats,
	windowValues,
	get.ci,
	mutation.table,
   find.breaks,
   segment.breaks,
	mufreq.bayes,
	baf.bayes,
	mufreq.model.fit,
	baf.model.fit,
   cp.plot,
   cp.plot.contours,
	plotWindows,
	chromosome.view,
   genome.view,
	theoretical.depth.ratio,
	theoretical.mufreq,
	types.matrix,
	model.points,
	theoretical.baf,
   sequenza.fit,
   sequenza.extract,
   sequenza.results,
   VarScan2seqz
)

# Import all packages listed as Imports or Depends
import(
 copynumber,
 parallel,
 squash
)

 importFrom("grDevices",
   "colorRampPalette",
   "dev.off",
   "gray.colors",
   "heat.colors",
   "palette",
   "pdf",
   "rgb"
)
importFrom("graphics",
   "abline",
   "axis",
   "barplot",
   "contour",
   "legend",
   "mtext",
   "par",
   "plot",
   "points",
   "polygon",
   "rect",
   "segments",
   "strwidth",
   "text"
)
importFrom("stats",
   "dbinom",
   "dpois",
   "dt",
   "median",
   "na.exclude",
   "quantile",
   "sd",
   "setNames",
   "weighted.mean"
)
importFrom("utils",
   "packageVersion",
   "read.delim",
   "read.table",
   "setTxtProgressBar",
   "tail",
   "txtProgressBar",
   "write.table"
)
